{% load trans from i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <meta charset="utf-8" />
     <title>Твой выбор</title>
     <nav class="navbar navbar-expand-lg navbar-light" style="color:white; border: 4px solid white; background: white;">
      <a class="navbar-brand" href="#">
    <img src="/static/logo.PNG" width="100" height="70" alt="" loading="lazy">
  </a>
      <div class="collapse navbar-collapse d-flex justify-content-end bd-highlight mb-3" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            <a class="nav-item nav-link active" href="{% url 'home-page' %}" style="color: #0085FF; font-size: 24px; margin-right: 85px">Главная</a><span class="sr-only">(current)</span></div>
          <div class="navbar-nav ">
              <a class="nav-item nav-link" href="{% url 'initiative' %}" style="font-size: 24px; margin-right: 85px">Инициативы</a>
          </div>
             <div class="navbar-nav ">
                 <a class="nav-item nav-link" href="/login/vk-oauth2" style="font-size: 24px; margin-right: 85px">Войти</a><span class="sr-only">(current)</span>
            </div>
             <div class="navbar-nav ">
                 <a class="nav-item nav-link" href="#" style="font-size: 24px; margin-right: 85px">Регистрация</a><span class="sr-only">(current)</span>
          </div>
  </div>
</nav>
 </head>
{% block main_section %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>
