{% extends 'Altai/main.html' %}

{% block main_section %}
<body style="background: url(static/back1.png) no-repeat; background-size: 100%;">
    <div class="container-fluid" style="height: 100%;">
        <div class="row">
            <div class="col">
                <p style="font-size: 24px; color: #FFFFFF; margin: 100 0 0 180px">Создание парка</p>
                <p style="font-size: 24px; color: #FFFFFF;margin: 0 0 0 180px">Благоустройство, районное</p>
            </div>
            <div class="col">
                <p style="font-size: 24px; color: #FFFFFF; margin: 100 0 0 320px"> Cтатус</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="font-size: 24px; color: #FFFFFF; margin: 0 0 0 180px">Анатолий Князев</p>
            </div>
            <div class="col">
                <div style="border-radius: 5px; background: #54CD2A;width: 200px; height: 40px; text-align: center; margin: 0 0 0 250px ">
                    <p style="font-size: 24px; color: #FFFFFF;">Активна</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="font-size: 24px; color: #FFFFFF; margin: 0 0 0 180px">Адрес: г.Барнаул, ул. Лиственная 32</p>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <p style="font-size: 24px; color: #FFFFFF; margin: 0 0 0 290px">Голосовать</p>
            </div>
        </div>
         <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-success" style="margin: 25 0 0 80px;width: 150px;font-size: 32px;">За</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger" style="margin: 25 0 0 0px; width: 150px;font-size: 32px;">Против</button>
                    </div>
                 </div>
            </div>
         </div>
        
          <div class="row">
              <div class="col">
                  <img src="static/photo.jpg" width="500px" height="375px" alt="" loading="lazy" style="margin: 0 0 0 180px">
              </div>
              <div class="col">
                <p style="font-size: 24px; color: #FFFFFF;margin: 25 0 0 90px">Статистика</p>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 24px; color: #FFFFFF;margin: 0 0 0 90px">За</p>
                    </div>
                    <div class="col">
                        <p style="font-size: 24px; color: #FFFFFF;">54</p>
                    </div>
                 </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 24px; color: #FFFFFF;margin: 0 0 0 90px">Против</p>
                    </div>
                     <div class="col">
                        <p style="font-size: 24px; color: #FFFFFF;">15</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 24px; color: #FFFFFF;margin: 0 0 0 90px">Осталось набрать</p>
                    </div>
                    <div class="col">
                        <p style="font-size: 24px; color: #FFFFFF;">97</p>
                     </div>
                 </div>
                 <div class="row">
                    <div class="col">
                        <p style="font-size: 24px; color: #FFFFFF;margin: 0 0 0 90px">Всего нужно</p>
                    </div>
                    <div class="col">
                        <p style="font-size: 24px; color: #FFFFFF;">136</p>
                    </div>
                 </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 24px; color: #FFFFFF;margin: 0 0 0 90px">Последний срок</p>
                     </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="font-size: 24px; color: #FFFFFF;margin: 0 0 0 90px">12.06.2020</p>
                    </div>
                    <div class="col">
                    </div>
                 </div>
              </div>
          </div>
        <div class="col" style="margin: 25 40 0 180px">
            <p style="font-size: 24px; color: #FFFFFF; margin: 0 400 0 0px;text-indent: 50px;" width="700px">Я хочу, чтобы наш город оставался зеленым и комфортным местом для жизни. Однако в последние годы наш район потерял много зеленых уголков - засыпаются реки, вырубаются деревья, под строительство спортивных сооружений, и новые многоэтажки. У жителей отняли важные природные территории.</p>
        </div>
        <div class="row">
    <div class="col"> 
        <div class="row">
    <div class="col">
    <p style="font-size: 24px; color: #FFFFFF; margin: 50 0 0 180px">Местоположение</p>
    </div>
    <div class="col">
      <img src="static/maps.png" width="60px" height="50px" alt="" loading="lazy" style="margin: 50 0 0 180px">
    </div>
  </div>
    </div>
    <div class="col">
      <p style="font-size: 24px; color: #FFFFFF; margin: 50 0 0 400px">Подписаться</p>
    </div>
    <div class="col">
        <div style="display: inline;">
        
        <img src="static/faceb-2.png" width="50px" height="50px" alt="" loading="lazy" style="margin: 50 20 0 0px">
        <img src="static/twiter.png" width="50px" height="50px" alt="" loading="lazy" style="margin: 50 20 0 0px">
        <img src="static/vector-1.png" width="50px" height="50px" alt="" loading="lazy" style="margin: 50 20 0 0px">
         </div>
    </div>
  </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}